@model SayyohlikA.Models.Davlat

@{
    ViewData["Title"] = "Add Davlat";
}

<h2>Add Davlat</h2>

<form asp-action="AddDavlat" method="post">
    <div class="form-group">
        <label asp-for="Nomi" class="control-label"></label>
        <input asp-for="Nomi" class="form-control" />
        <span asp-validation-for="Nomi" class="text-danger"></span>
    </div>



    <button type="submit" class="btn btn-primary">Saqlash</button>
    <a href="@Url.Action("Index", "Davlat")" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

