@model SayyohlikA.Models.Tarjimon

@{
    ViewData["Title"] = "Tarjimonni O'chirish";
}

<h2>Tarjimonni O'chirish</h2>

<h3>Rostdan ham o'chirmoqchimisiz?</h3>

<div>
    <h4>@Model.FISH</h4>
    <h5>@Model.Til</h5>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Ha, o'chir</button>
    <a asp-action="Index" class="btn btn-secondary">Bekor qilish</a>
</form>
