@model SayyohlikA.Models.Davlat
@{
    ViewData["Title"] = "Davlatni Tahrirlash";
}

<h2>Davlatni Tahrirlash</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Nomi" class="control-label"></label>
        <input asp-for="Nomi" class="form-control" />
        <span asp-validation-for="Nomi" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Saqlash</button>
    <a asp-action="Index" class="btn btn-secondary">Orqaga</a>
</form>
