@model SayyohlikA.Models.ViewModel.AddTarjimonViewModel

<form asp-action="AddTarjimon" method="post">
    <div class="form-group">
        <label asp-for="FISH"></label>
        <input asp-for="FISH" class="form-control" />
        <span asp-validation-for="FISH" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Til"></label>
        <input asp-for="Til" class="form-control" />
        <span asp-validation-for="Til" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IsAvailable"></label>
        <input asp-for="IsAvailable" type="checkbox" />
        <span asp-validation-for="IsAvailable" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Saqlash</button>
</form>

