@model SayyohlikA.Models.Tarjimon

@{
    ViewData["Title"] = "Yangi Tarjimon Qo'shish";
}

<h2>Yangi Tarjimon Qo'shish</h2>

<div class="mb-3">
    <a asp-action="Index" class="btn btn-primary">Tarjimonlar Ro'yxati</a>
</div>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="FISH"></label>
        <input asp-for="FISH" class="form-control" />
        <span asp-validation-for="FISH" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Til"></label>
        <input asp-for="Til" class="form-control" />
        <span asp-validation-for="Til" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <input asp-for="IsAvailable" class="form-check-input" type="checkbox" />
        <label asp-for="IsAvailable" class="form-check-label"></label>
        <span asp-validation-for="IsAvailable" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <button type="submit" class="btn btn-success">Saqlash</button>
        <a asp-action="Index" class="btn btn-primary ml-2">Tarjimonlar Ro'yxati</a>
    </div>
</form>

